In [1]:
import pandas as pd
import numpy as np

In [2]:
data_1 = pd.read_excel("Data Sets/tanishq_1.xlsx")
data_2 = pd.read_excel("Data Sets/tanishq_2.xlsx")
data_3 = pd.read_excel("Data Sets/tanishq_3.xlsx",header= None)

In [3]:
data_1_clean = data_1.loc[:,data_1.columns != 'Unnamed: 0']
data_2_clean = data_2.loc[:,data_2.columns != 'Unnamed: 0']
data_3_clean = data_3.loc[:,data_3.columns != 'Unnamed: 0']

In [4]:
data_2_clean.head()

,text,hashtag_count,is_reply,is_retweet,time,day,url,reply_count,like_count,quote_count,follower_count,verified,emotion_score
0,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000002,0,0.3182
1,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000015,0,0.3182
2,had an opportunity to express my views on the ...,0.038462,0,1,23,2,0,0.0,0.0,0.0,0.000007,0,0.5859
3,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000242,0,0.3182
4,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000016,0,0.3182

In [5]:
data_1_clean.head()

,text,hashtag_count,is_reply,is_retweet,time,day,url,retweet_count,reply_count,like_count,quote_count,follower_count,verified,sentiment_score,emotion_score
0,please ... do not buy from.. they are working ...,3,0,1,23,2,0,806,0,0,0,34,0,0.3182,0.3182
1,please ... do not buy from.. they are working ...,3,0,1,23,2,0,806,0,0,0,230,0,0.3182,0.3182
2,had an opportunity to express my views on the ...,1,0,1,23,2,0,2158,0,0,0,111,0,0.5859,0.5859
3,please ... do not buy from.. they are working ...,3,0,1,23,2,0,806,0,0,0,3833,0,0.3182,0.3182
4,please ... do not buy from.. they are working ...,3,0,1,23,2,0,806,0,0,0,247,0,0.3182,0.3182

In [6]:
data_1_clean.describe()

,hashtag_count,is_reply,is_retweet,time,day,url,retweet_count,reply_count,like_count,quote_count,follower_count,verified,sentiment_score,emotion_score
count,231339.000000,231339.000000,231339.000000,231339.000000,231339.000000,231339.000000,231339.000000,231339.000000,231339.000000,231339.000000,2.313390e+05,231339.000000,231339.000000,231339.000000
mean,1.374537,0.042414,0.853609,9.514716,3.496414,0.231656,929.224186,0.182481,2.424602,0.070161,8.252037e+03,0.006886,-0.016625,0.226570
std,1.371288,0.201532,0.353499,5.253183,1.036767,0.421891,1352.498997,12.905379,106.058343,8.372321,2.430598e+05,0.082696,0.373418,0.297293
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,-0.986000,0.000000
25%,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,24.000000,0.000000,0.000000,0.000000,6.500000e+01,0.000000,-0.025800,0.000000
50%,1.000000,0.000000,1.000000,9.000000,3.000000,0.000000,375.000000,0.000000,0.000000,0.000000,2.380000e+02,0.000000,0.000000,0.000000
75%,2.000000,0.000000,1.000000,14.000000,4.000000,0.000000,1338.000000,0.000000,0.000000,0.000000,8.620000e+02,0.000000,0.000000,0.458800
max,33.000000,1.000000,1.000000,23.000000,7.000000,1.000000,6332.000000,4522.000000,21409.000000,3711.000000,1.584126e+07,1.000000,0.985900,0.986000

In [7]:
data_1_clean.shape

(231339, 15)

In [8]:
data_2_clean.shape

(218978, 13)

In [9]:
data_3_clean.shape

(218978, 2)

In [10]:
data_3 = pd.read_excel("Data Sets/tanishq_3.xlsx",header= None)

In [11]:
data_3.columns = ['verified','sentiment_score']

In [12]:
data_3.head()

   verified  sentiment_score
0         0         0.127290
1         1         0.127290
2         2         0.340809
3         3         0.127290
4         4         0.127290

In [13]:
data_2.insert(13,'sentiment_score',data_3.sentiment_score)

In [14]:
data_2.head()

,Unnamed: 0,text,hashtag_count,is_reply,is_retweet,time,day,url,reply_count,like_count,quote_count,follower_count,verified,sentiment_score,emotion_score
0,0,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000002,0,0.127290,0.3182
1,1,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000015,0,0.127290,0.3182
2,2,had an opportunity to express my views on the ...,0.038462,0,1,23,2,0,0.0,0.0,0.0,0.000007,0,0.340809,0.5859
3,3,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000242,0,0.127290,0.3182
4,4,please ... do not buy from.. they are working ...,0.115385,0,1,23,2,0,0.0,0.0,0.0,0.000016,0,0.127290,0.3182

In [15]:
data_2.shape

(218978, 15)

In [16]:
data_1.shape

(231339, 16)

In [17]:
data_1.columns

Index(['Unnamed: 0', 'text', 'hashtag_count', 'is_reply', 'is_retweet', 'time',
       'day', 'url', 'retweet_count', 'reply_count', 'like_count',
       'quote_count', 'follower_count', 'verified', 'sentiment_score',
       'emotion_score'],
      dtype='object')

In [18]:
data_2.columns

Index(['Unnamed: 0', 'text', 'hashtag_count', 'is_reply', 'is_retweet', 'time',
       'day', 'url', 'reply_count', 'like_count', 'quote_count',
       'follower_count', 'verified', 'sentiment_score', 'emotion_score'],
      dtype='object')

In [19]:
data_1 = data_1.loc[:,data_1.columns!='retweet_count']

In [20]:
data_1.columns == data_2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

In [21]:
data_1.describe

<bound method NDFrame.describe of         Unnamed: 0                                               text  \
0                0  please ... do not buy from.. they are working ...
1                1  please ... do not buy from.. they are working ...
2                2  had an opportunity to express my views on the ...
3                3  please ... do not buy from.. they are working ...
4                4  please ... do not buy from.. they are working ...
...            ...                                                ...
231334      259208  ðŸ˜‚ tanishq wali bahu :- lekin ye rasm to aap...
231335      259209  dear most people attacking you canâ€™t afford ...
231336      259210  à¤²à¤¿à¤¬à¤°à¤² à¤•à¥‡ à¤…à¤¨à¥à¤¸à¤¾à¤° "à¤¤...
231337      259211  tanishq vs à¤—à¤¦à¤°: à¤¸à¤¿à¤¨à¥‡à¤®à¤¾ à¤¹à¥...
231338      259212  à¤…à¤°à¥‡, à¤¯à¥‡ à¤…à¤ªà¤¨à¤¾ à¤Ÿà¤¾à¤Ÿà¤¾ à¤...

        hashtag_count  is_reply  is_retweet  time  day  url  reply_count  \
0                   3         0           1    23    2    0            0
1                   3         0           1    23    2    0            0
2                   1         0           1    23    2    0            0
3                   3         0           1    23    2    0            0
4                   3         0           1    23    2    0            0
...               ...       ...         ...   ...  ...  ...          ...
231334              0         0           1     0    3    0            0
231335              1         0           1     0    3    0            0
231336              0         0           1     0    3    0            0
231337              1         0           1     0    3    0            0
231338              4         1           0     0    3    0            0

        like_count  quote_count  follower_count  verified  sentiment_score  \
0                0            0              34         0           0.3182
1                0            0             230         0           0.3182
2                0            0             111         0           0.5859
3                0            0            3833         0           0.3182
4                0            0             247         0           0.3182
...            ...          ...             ...       ...              ...
231334           0            0             754         0           0.0000
231335           0            0            1010         0          -0.1725
231336           0            0            1476         0           0.0000
231337           0            0             495         0           0.0000
231338           0            0              34         0           0.4939

        emotion_score
0              0.3182
1              0.3182
2              0.5859
3              0.3182
4              0.3182
...               ...
231334         0.0000
231335         0.1725
231336         0.0000
231337         0.0000
231338         0.4939

[231339 rows x 15 columns]>

In [22]:
data_1.text

0         please ... do not buy from.. they are working ...
1         please ... do not buy from.. they are working ...
2         had an opportunity to express my views on the ...
3         please ... do not buy from.. they are working ...
4         please ... do not buy from.. they are working ...
                                ...
231334    ðŸ˜‚ tanishq wali bahu :- lekin ye rasm to aap...
231335    dear most people attacking you canâ€™t afford ...
231336    à¤²à¤¿à¤¬à¤°à¤² à¤•à¥‡ à¤…à¤¨à¥à¤¸à¤¾à¤° "à¤¤...
231337    tanishq vs à¤—à¤¦à¤°: à¤¸à¤¿à¤¨à¥‡à¤®à¤¾ à¤¹à¥...
231338    à¤…à¤°à¥‡, à¤¯à¥‡ à¤…à¤ªà¤¨à¤¾ à¤Ÿà¤¾à¤Ÿà¤¾ à¤...
Name: text, Length: 231339, dtype: object

In [23]:
from bs4 import BeautifulSoup

In [24]:
data_1.text.str.encode('ascii','ignore')

0         b'please ... do not buy from.. they are workin...
1         b'please ... do not buy from.. they are workin...
2         b"had an opportunity to express my views on th...
3         b'please ... do not buy from.. they are workin...
4         b'please ... do not buy from.. they are workin...
                                ...
231334    b' tanishq wali bahu :- lekin ye rasm to aap l...
231335    b'dear most people attacking you cant afford y...
231336                    b'   "              " ....      '
231337              b'tanishq vs :    500       ,         '
231338    b',    . pm care fund     .           .       ...
Name: text, Length: 231339, dtype: object

In [25]:
data_1['processed_text'] = data_1.text.str.encode('ascii','ignore')

In [26]:
data_1.head()

,Unnamed: 0,text,hashtag_count,is_reply,is_retweet,time,day,url,reply_count,like_count,quote_count,follower_count,verified,sentiment_score,emotion_score,processed_text
0,0,please ... do not buy from.. they are working ...,3,0,1,23,2,0,0,0,0,34,0,0.3182,0.3182,b'please ... do not buy from.. they are workin...
1,1,please ... do not buy from.. they are working ...,3,0,1,23,2,0,0,0,0,230,0,0.3182,0.3182,b'please ... do not buy from.. they are workin...
2,2,had an opportunity to express my views on the ...,1,0,1,23,2,0,0,0,0,111,0,0.5859,0.5859,"b""had an opportunity to express my views on th..."
3,3,please ... do not buy from.. they are working ...,3,0,1,23,2,0,0,0,0,3833,0,0.3182,0.3182,b'please ... do not buy from.. they are workin...
4,4,please ... do not buy from.. they are working ...,3,0,1,23,2,0,0,0,0,247,0,0.3182,0.3182,b'please ... do not buy from.. they are workin...